html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: helvetica, sans-serif;
  font-size: 1em;
  background-color: #333;
  color: #fff;
}

#mount,
.full-height {
  height: 100%;
}

nav {
  border-bottom: 1px solid #000;
}

button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  background-color: transparent;
  color: inherit;
}

button:active {
  background-color: rgba(0,0,0,0.23);
}

.counter-number {
  font-size: 60px;
}
